{% extends 'hostel/base.html' %}

{% load static %}

{% block title %}
Hostel | Allocations
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/allotements.css' %}">
{% endblock %}

{% block content %}
<section class="main">
    <div class="main-body">
        {% if messages %}
        <ul class="messages" >
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form method="get" class="filter-form">
            <table id="filter-table">
                <tr>
                    <td class="filter-td">
                        <label for="id_room_number">Room Number:</label>
                        {{filter.form.room_number}}
                    </td>
                    <td class="filter-td">
                        <button type="submit" id="search">Search</button>
                    </td>
                </tr>
            </table>
        </form>

        <div class="main-block">
            <div class="header-links">
                <a href="{% url 'room_list' %}" class="back-link" id="closeBtn">&#10006;</a>
            </div>

            <h5>Room Allocation Details</h5>

            <div class="allot">
                <div class="table-resposive">
                    <table>
                        <tr>
                            <th>Room Number</th><th>Students</th><th>Floor</th><th>Action</th>
                        </tr>
                        <tr class="ignore-row">
                            <td></td><td></td><td></td><td></td>
                        </tr>
                        {% for a in alloted %}
                        <tr>
                            <td>{{a.room_number}}</td>
                            <td>{{a.name}}</td>
                            <td>{{a.room_number.floor}}</td>
                            <td><!-- <a href="{% url 'edit_allocation' a.name %}" onsubmit="return confirmData();">Edit</a>/ --><a href="{% url 'delete_allocation' a.name %}" onclick="return confirmDelete();">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="pagination">
                <span class="step-links">
                    {% if alloted.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ alloted.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ alloted.number }} of {{ alloted.paginator.num_pages }}.
                    </span>

                    {% if alloted.has_next %}
                        <a href="?page={{ alloted.next_page_number }}">next</a>
                        <a href="?page={{ alloted.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</section>
<script>
    function confirmData(){
        let result = confirm("Make sure everything is right!");
        return result;
    }
    function confirmDelete() {
        return confirm("Are you sure you want to delete this student?");
    }
    function goBack() {
        window.history.back();
    }
</script>
{% endblock %}