{% extends 'hostel/base.html' %}

{% load static %}

{% block title %}
Hostel | Allocations
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/allotements.css' %}">
{% endblock %}

{% block content %}
<div class="main">
    <form method="get" class="filter-form">
        <table id="filter-table">
            <tr>
                <td class="filter-td">
                    <label for="id_room_number">Room Number:</label>
                    {{filter.form.room_number}}
                </td>
                <td class="filter-td">
                    <button type="submit" id="search">Search</button>
                </td>
            </tr>
        </table>
    </form>
    <div class="main-block">
        <div class="header-links">
            <a href="{% url 'home' %}" class="back-link" id="closeBtn">&#10006;</a>
        </div>
        <h5>Room Details</h5>
        <div class="allot">
            <table>
                <tr>
                    <th>Room Number</th><th>Students</th><th>Floor</th><th>Action</th>
                </tr>
                <tr class="ignore-row">
                    <td></td><td></td><td></td><td></td>
                </tr>
                {% for a in alloted %}
                <tr>
                    <td>{{a.room_number}}</td>
                    <td>{{a.name}}</td>
                    <td>{{a.room_number.floor}}</td>
                    <td><a href="{% url 'edit_allocation' a.name %}" onsubmit="return confirmData();">Edit</a>/<a href="{% url 'delete_allocation' a.name %}" onclick="return confirmDelete();">Delete</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<script>
    function confirmData(){
        let result = confirm("Make sure everything is right!");
        return result;
    }
    function confirmDelete() {
        return confirm("Are you sure you want to delete this student?");
    }
</script>
{% endblock %}