{% extends 'hostel/base.html' %}

{% load static %}

{% block title %}
Hostel | AllocationForm
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'styles/allot_stud.css' %}">
{% endblock %}

{% block content %}
<section class="main">
    <div class="main-body">
        <div class="main-block">
            <div class="header-links">
                <a href="{% url 'room_list' %}" class="close-icon">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <h5>Room Allocation</h5>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-fields">
                    <div class="form-field">
                        <label for="{{ form.room_number.id_for_label }}">Room Number:</label>
                        {{ form.room_number }}
                    </div>
            
                    <div class="form-field">
                        <label for="{{ form.name.id_for_label }}">Name:</label>
                        {{ form.name }}
                    </div>
                </div>
                <div class="submit-input">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}