{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    {% block style %}
    {% endblock %}
</head>
<body>
    <section class="header">
        <div class="nasc">
            <div class="logo-heading">
                <a href="{% url 'home' %}"><img src="{% static 'logo.png' %}" id="logo"></a>
                <h1>NEHRU ARTS AND SCIENCE COLLEGE KANHANGAD <br> K. V. Kunhambu Memorial Women's Hostel <br> NASC-Hostel Management System </h1>
            </div>
            <form action="{% url 'logout' %}" method="post" class="logout-form">
                {% csrf_token %}
                <button type="submit" value="Logout" class="logout-btn">Logout</button>
            </form>
        </div>
        {% if is_admin_group %}
        <nav>
            <div class="nav-links" id="navLinks">
                <ul>
                    <li><a href="{% url 'home' %}">HOME</a></li>
                    <li><a href="">STUDENT</a>
                        <div class="submenu1">
                            <ul>
                                <li><a href="{% url 'add_student' %}">ADD STUDENT</a></li>
                                <li><a href="{% url 'view_student' %}">VIEW STUDENTS</a></li>
                                <li><a href="{% url 'inactive_student' %}">INACTIVE STUDENTS</a></li>
                            </ul>
                        </div>
                    </li>
                    
                    <li><a href="">ALLOCATION</a>
                        <div class="submenu1">
                            <ul>
                                <li><a href="{% url 'allot_student' %}">Allocate room</a></li>
                                <li><a href="{% url 'view_allotement' %}">View Allocation</a></li>
                            </ul>
                        </div>
                    </li>

                    <li><a href="{% url 'view_attendance' %}">SUMMARY</a></li>
                    <li><a href="{% url 'streak' %}">STREAKS</a></li>

                    <li><a href="">BILL</a>
                        <div class="submenu1">
                            <ul>
                                <li><a href="{% url 'view_bill' %}">Student bill</a></li>
                                <li><a href="{% url 'total_bill' %}">monthly bill</a></li>    
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        {% endif %}
            {% block content %}
            {% endblock %}
    </section>
</body>
</html>








