{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}HMS{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    {% block style %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <!-- Navbar -->
    <header class="navbar">
        <a href="{% url 'home' %}">
            <i class="fas fa-house"></i>
            <span class="hide">Home</span>
        </a>
        <a href="{% url 'inactive_student' %}">
            <i class="fas fa-trash-alt"></i>
            <span class="hide">Trash</span>
        </a>
        <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="sidebar-link">
                <i class="fas fa-sign-out-alt"></i>
                <span class="hide">Logout</span>
            </button>
        </form>
    </header>
    <!-- Main Content -->
    <main class="content">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer">
        &copy; HMS. All rights reserved.
    </footer>
</body>
</html>
