{% extends 'hostel/base.html' %}

{% load static %}

{% block title %}
Hostel | Bill
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/bill.css' %}">
{% endblock %}

{% block content %}
<section class="main">
    <div class="main-body">
        <form method="get" class="filter-form">
            <table id="filter-table">
                <tr>
                    <td class="filter-td">
                        <label for="id_name">Name:</label>
                        {{true_bill_filter.form.name}}
                    </td>
                    <td class="filter-td">
                        <label for="id_month">Month:</label>
                        {{true_bill_filter.form.month}}
                    </td>
                    <td class="filter-td">
                        <label for="id_year">Year:</label>
                        {{true_bill_filter.form.year}}
                    </td>
                    <td class="filter-td">
                        <button type="submit" id="search">Search</button>
                    </td>
                </tr>
            </table>
        </form>
        <div class="main-block-1">

            <div class="header-links">
                <a href="{% url 'home' %}" class="back-link" id="closeBtn">&#10006;</a>
            </div>
            
            <h5>Bill details of students with E-Grantz</h5>

            <div class="bill">
                <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th> <th>Amount</th><th>Month</th><th>Year</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for t in page_obj_true %}
                                <tr>
                                    <td>{{ t.name.name}}</td> <td>{{t.total}}</td><td>{{t.month}}</td><td>{{t.year}}</td>
                                 </tr>
                            {% endfor %}    
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="pagination">
                <span class="step-links">
                    {% if page_obj_true.has_previous %}
                        <a href="?page_true=1">&laquo; first</a>
                        <a href="?page_true={{ page_obj_true.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ page_obj_true.number }} of {{ page_obj_true.paginator.num_pages }}.
                    </span>
            
                    {% if page_obj_true.has_next %}
                        <a href="?page_true={{ page_obj_true.next_page_number }}">next</a>
                        <a href="?page_true={{ page_obj_true.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
        <div class="main-block-2">
            <div class="header-links">
                <a href="{% url 'home' %}" class="back-link" id="closeBtn">&#10006;</a>
            </div>
            
            <h5>Bill details of students without E-Grantz</h5>

            <div class="bill">
                <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th> <th>Amount</th><th>Month</th><th>Year</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for f in page_obj_false %}
                                <tr>
                                    <td>{{ f.name.name}}</td> <td>{{f.total}}</td><td>{{f.month}}</td><td>{{f.year}}</td>
                                 </tr>
                            {% endfor %}    
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="pagination">
                <span class="step-links">
                    {% if page_obj_false.has_previous %}
                        <a href="?page_false=1">&laquo; first</a>
                        <a href="?page_false={{ page_obj_false.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ page_obj_false.number }} of {{ page_obj_false.paginator.num_pages }}.
                    </span>
            
                    {% if page_obj_false.has_next %}
                        <a href="?page_false={{ page_obj_false.next_page_number }}">next</a>
                        <a href="?page_false={{ page_obj_false.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>            

        </div>

        </div>
    </div>
</section>
{% endblock %}