{% extends 'hostel/base.html' %}

{% load static %}

{% block title %}
Hostel | Bill
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/bill.css' %}">
{% endblock %}

{% block content %}
<div class="main">
    <div class="main-block">
        <h5>Bill details of students</h5>
        <div class="bill">
            <table>
                <thead>
                    <tr>
                        <th>Name</th> <th>Amount</th><th>Month</th><th>Year</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bill in bills %}
                        <tr>
                            <td>{{ bill.name.name}}</td> <td>{{bill.total}}</td><td>{{bill.month}}</td><td>{{bill.year}}</td>
                        </tr>
                    {% endfor %}    
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}