{% extends 'hostel/base.html' %}
{% load static %}

{% block title %}
Hostel | Home
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/home.css' %}">
{% endblock %}

{% block content %}
<div class="home-container">
    <h1 class="hostel-title">K.V. KUNHAMBU MEMORIAL<br>WOMEN’S HOSTEL</h1>
    <div class="home-buttons">
        <a href="{% url 'mark_attendance' %}">Add attendance</a>
        {% if is_warden_group %}
        <a href="{% url 'generate_mess_bill' %}">Generate messbill</a>
        {% endif %}
    </div>
</div>

{% endblock %}
