{% extends 'hostel/base.html' %}

{% load static %}

{% block title %}
Hostel | Home
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/home.css' %}">
{% endblock %}

{% block content %}
<main class="main-body">
    <div class="text-box">
        <h2>K. V. Kunhambu Memorial Women's Hostel</h2>
        <h1>NASC-HMS</h1>
        <a href="{% url 'mark_attendance' %}" class="hero-btn">Add attendance</a>
        {% if is_warden_group %}
        <a href="{% url 'generate_mess_bill' %}" class="hero-btn">Generate mess bill</a>
        {% endif %}
    </div>   
</main>
{% endblock %}
