{% extends 'hostel/base.html' %}

{% load static %}

{% block title %}
Hostel | Bill
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/month_bill.css' %}">
{% endblock %}

{% block content %}

<section class="main">
    <div class="main-body">
        <div class="main-block-1">
            <div class="header-links">
                <button id="printBtn" onclick="printDiv('print1')">Print</button>
            </div>
            <div id="print1">
                <h5>Bill details of students with E-Grantz</h5>
                <div class="bill">
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th><th>Month</th><th>Year</th><th style="text-align: right;">Amount</th>
                            </tr>
                            <tr id="ignore-row">
                                <td></td><td></td><td></td><td></td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for t in true_bills %}
                                <tr>
                                    <td>{{ t.name.name}}</td><td>{{t.month}}</td><td>{{t.year}}</td><td style="text-align: right;">{{t.total}}</td>
                                </tr>
                            {% endfor %}    
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="main-block-2">
            <div class="header-links">
                <button id="printBtn" onclick="printDiv('print2')">Print</button>
            </div>
            <div id="print2">
                <h5>Bill details of students without E-Grantz</h5>
                <div class="bill">
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th><th>Month</th><th>Year</th><th style="text-align: right;">Amount</th>
                            </tr>
                            <tr id="ignore-row">
                                <td></td><td></td><td></td><td></td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for f in false_bills %}
                                <tr>
                                    <td>{{ f.name.name}}</td><td>{{f.month}}</td><td>{{f.year}}</td><td style="text-align: right;">{{f.total}}</td>
                                </tr>
                            {% endfor %}    
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function printDiv(divId) {
            var printContents = document.getElementById(divId).innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
</script>
{% endblock %}