{% extends 'hostel/base.html' %}

{% load static %}

{% block title %}
Hostel | Students
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/students.css' %}">
{% endblock %}

{% block content %}
<section class="main">
    <div class="main-block">
        <form method="get" action="{% url 'view_student' %}" class="filter-form">
                <table id="filter-table">
                    <tr>
                        <td class="filter-td">
                            <label for="id_year_of_admn">Year of Admission:</label>
                            {{ filter.form.year_of_admn }}
                        </td>
        
                        <td class="filter-td">
                            <label for="id_year_of_admn">Year:</label>
                            {{ filter.form.year }}
                        </td>
        
                        <td class="filter-td">
                            <label for="id_pgm">Programme:</label>
                            {{ filter.form.pgm }}
                        </td>
        
                        <td class="filter-td">
                            <label for="id_category">Category:</label>
                            {{ filter.form.category }}
                        </td>
        
                        <td class="filter-td">
                            <label for="id_E_Grantz">E-Grantz:</label>
                            {{ filter.form.E_Grantz }}
                        </td>
        
                        <td class="filter-td">
                            <button type="submit" class="search">Search</button>
                        </td>
                        <td class="filter-td" style="text-align: right;">
                            <button type="reset" class="search" onclick="resetFilters()">Reset</button>
                        </td>
                    </tr>
                </table>   
        </form>

        <h5></h5>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
        <div class="student-boxes">
            <a href="{% url 'add_student' %}" class="link">
                <div class="student-layout glass-card" id="add-bg">
                    <div class="add-user-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="white" viewBox="0 0 24 24">
                            <path d="M15 14c2.761 0 5-2.239 5-5s-2.239-5-5-5-5 
                                     2.239-5 5 2.239 5 5 5zm0 2c-3.314 
                                     0-10 1.657-10 5v3h20v-3c0-3.343-6.686-5-10-5zM4 
                                     12h2v-2h2V8H6V6H4v2H2v2h2v2z"/>
                        </svg>
                    </div>
                    <div class="add-student">Add Student</div>
                </div>
            </a>
            
            {% for student in filter.qs %}
            <a href="{% url 'view_details' student.id %}" class="link">
                <div class="student-layout glass-card">
                    <div class="image-container">   
                        {% if student.photo %}
                            <img src="{{student.photo.url}}" alt="No image" class="img-stud">
                        {% else %}
                            <span>No photo available</span>
                        {% endif %}
                    </div>
                    <div class="student-name">{{student.name}}</div>
                </div>
            </a>
            {% endfor %}
            
        </div>
        
    </div>
</section>
<script>
    function resetFilters() {
        const form = document.querySelector('.filter-form');
        form.querySelectorAll('select, input').forEach(input => {
            if (input.type !== 'hidden') {
                input.value = '';
            }
        });
        form.submit();
    }
</script>
{% endblock %}