{% extends 'hostel/base.html' %}

{% load static %}

{% block title %}
Hostel | Students
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/students.css' %}">
<style>
    
</style>
{% endblock %}

{% block content %}
<div class="main-block">
    <h5>Students</h5>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><mark>{{ message }}</mark></li>
            {% endfor %}
        </ul>
    {% endif %}
    {% for student in stud %}
    <a href="{% url 'view_details' student.id %}" class="link">
        <div class="student-layout">
            <div class="image-container">   
                {% if student.photo %}
                <img src="{{student.photo.url}}" alt="No image" class="img-stud">
                {% else %}
                    <span>No photo available</span>
                {% endif %}
            </div>
            <div class="student-name">{{student.name}}</div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}
