.main{
    min-height: 64vh;
}
.main{
    margin-top: 15vh;
    margin-bottom: 10vh;
}
.main-block {
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0 16px 64px rgba(0, 0, 0, 0.6); 
    background-color: #EDF4F2;
    font-size: smaller;
}
.form-fields {
    margin-bottom: 20px;
}
.form-field {
    margin-bottom: 15px;
}
.form-field select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}
.form-field select:hover {
    border-color: #aaa;
}
.form-field label {
    display: block;
    margin-bottom: 5px;
    color: black;
}
.form-field input[type="text"],
.form-field input[type="email"],
.form-field input[type="number"],
.form-field input[type="file"],
.form-field input[type="date"]{
    background-color: #fff;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea{
    background-color: #fff;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.submit-input input[type="submit"] {
    background-color: rgb(10, 148, 208);
    color: white;
    transition: background-color 0.3s, opacity 0.3s;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
.submit-input input[type="submit"]:hover {
    background: #203A43;
    color: white;
}
h5{
    color: black;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
}
.header-links .back-link {
    font-size: 25px;
    color: black;
    text-decoration: none;
    display: inline-block;
}
.header-links .back-link:hover {
    opacity: 0.6;
}
@media (min-width: 360px) and (max-width: 450px){
    .main-body{
        min-height: 72vh;
    }
    .main-block{
        width: 80%;
    }
}