.main-body {
    margin-top: 20vh;
    margin-bottom: 30vh;
}

.main-block {
    width: 30%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;

    /* Glassmorphism */
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 16px rgba(10, 10, 11, 0.5);

    margin-bottom: 50px;
}

h5 {
    color: black;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
}

li.error {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bolder;
    color: red;
}

li.success {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #151269;
}

.form-fields {
    margin-bottom: 20px;
}

.form-field {
    margin-bottom: 15px;
}

.form-field select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-field select:hover {
    border-color: #aaa;
}

.form-field label {
    display: block;
    margin-bottom: 5px;
    color: #31473A;
}

form input[type="submit"] {
    background-image: linear-gradient(to right, #007BFF 0%, #66B2FF 51%, #007BFF 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    width: 90%;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white; 
    font-size: 15px;    
    font-weight: bolder;       
    box-shadow: 0 0 20px #eee;
    border-radius: 4px;
    display: block;
    margin: 20px auto;
    border: none;
}

form input[type="submit"]:hover {
    background-position: right center;
    color: black;
    text-decoration: none;
}

.header-links {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    top: 0;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
}

.header-links .back-link {
    font-size: 25px;
    color: black;
    text-decoration: none;
    display: inline-block;
}

#close {
    width: 30px;
    height: 30px;
}

@media (min-width: 360px) and (max-width: 450px) {
    .main-body {
        margin-top: 17vh;
        margin-bottom: 30vh;
    }
    .main-block {
        width: 80%;
    }
    h5 {
        font-size: 12px;
    }
    li.error {
        font-size: 8px;
    }
    li.success {
        font-size: 8px;
    }
}
.close-icon i {
    font-size: 30px; /* same size as old #close image */
    color: black;      /* close icon color */
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-icon i:hover {
    color: darkred;
}