.main{
    min-height: 70vh;
}

.main-body{
    margin-top: 15vh;
    margin-bottom: 10vh;   
}

.attendance-form {
    width: 80%;
    margin: 0 auto;
    padding: 20px 10px;
    border-radius: 10px;
    background: #EDF4F2;
    box-shadow: 0 8px 16px rgba(21, 18, 105, 0.5);
    margin-bottom: 50px;
}
#student-container {
    margin-top: 20px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Creates columns with a minimum width */
    gap: 20px; /* Space between grid items */
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 20px;
    box-sizing: border-box;
}
.student-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Space between items within the column */
}

#id_date{
    background-color: #fff;
    width: 16.9%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
form input[type="submit"] {
    background-color: rgb(10, 148, 208);
    color: white;
    transition: background-color 0.3s, opacity 0.3s;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%; /* Desired width of the button */
    display: block; /* Ensures the button takes up the width specified */
    margin: 20px auto; 
}
form input[type="submit"]:hover {
    background: #203A43;
    color: white;
}



h5{
    color: black;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}
li.error{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bolder;
    color: red;
}
li.success{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #151269;
}
#studentSearch {
    width: 20%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#studentSearch:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
}
.header-links .back-link {
    font-size: 25px;
    color: black;
    text-decoration: none;
    display: inline-block;
}
.header-links .back-link:hover {
    opacity: 0.5;
}

@media (min-width: 360px) and (max-width: 450px){
    .main-body{
        min-height: 72vh;
    }
    .attendance-form{
        width: 70%;
    }
    .messages{
        font-size: 12px;
    }
    #id_date{
        width: 100%;
    }
    #studentSearch{
        width: 100%;
    }
}
