.main{
    min-height: 64vh;
}

.main-body{
    margin-top: 15vh;
    margin-bottom: 10vh;   
}

.attendance-form {
    width: 25%;
    margin: 0 auto;
    padding: 20px 10px;
    border-radius: 5px;
    border-radius: 10px;
    background:#EDF4F2;
    box-shadow: 0 8px 16px rgba(21, 18, 105, 0.5);
}
.attendance-form label {
    margin-bottom: 10px;
    color: black;
    margin-left: 5px;
}

.attendance-form input[type="date"]{
    margin-bottom: 15px;
}

.attendance-form input[type="checkbox"]{
    margin-bottom: 5px;
}

input[type="submit"] {
    width: 100%;
    background-color: rgb(10, 148, 208);
    color: white;
    font-weight: bolder;
    font-size: larger;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;
}

input[type="submit"]:hover {
    background: #203A43;
    color: white;
}
h5{
    color: black;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.messages{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #151269;
}
#studentSearch {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#studentSearch:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
}
.header-links .back-link {
    font-size: 25px;
    color: black;
    text-decoration: none;
    display: inline-block;
}
.header-links .back-link:hover {
    opacity: 0.5;
}

@media (min-width: 360px) and (max-width: 450px){
    .main-body{
        min-height: 72vh;
    }
    .attendance-form{
        width: 70%;
    }
    .messages{
        font-size: 12px;
    }
}
