*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.nasc{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-heading {
    display: flex;
    align-items: center;
}

.nasc h1{
    padding-left: 10px;
    color: #071952; 
}

.header{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.logout-form{
    margin-left: auto;
}
.logout-btn{
    border: none;
    text-transform: uppercase;
    padding: 5px 10px;
    background-color: transparent;
    color: #071952;
    font-weight: bolder;
    font-size: 20px;
}
.logout-btn:hover{
    opacity: 0.7;
}
nav{
    display: flex;
    padding: 0 100px;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: inline-flex;
    list-style: none;
    color: #071952;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 14px;
    position: relative;
}
nav ul li a{
    text-decoration: none;
    color: #071952;
    font-size: 20px;
    font-weight: bolder;
}
.submenu1{
    display: none;
}

nav ul li:hover .submenu1{
    display: block;
    position: absolute;
    margin-left: 0;
    margin-top: 0;
}
nav ul li:hover .submenu1 ul{
    display: block;
    margin: 10px;
    padding: 0;

}
nav ul li:hover .submenu1 ul li{
    width: 100px;
    padding: 5px 5px;
    border-radius: 0;
    text-align: center;
    background-color: #071952;
    border: 1px solid #fff;
}
nav ul li:hover .submenu1 ul li a{
    font-size: 7px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

#logo{
    width: 90px;
    margin-left: auto;
}
.nav-links{
    flex: 1;
    text-align: right;  
}

.nav-links ul li::after{
    content: "";
    width: 0;
    height: 2px;
    background:#071952;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}