*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
background: white;
}

/* Header section */
.header{
    background: white;
    min-height: 18vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    box-shadow: 0 4px 8px rgba(21, 18, 105, 0.5);
}

.nasc {
    display: flex;
    align-items: center;
    padding: 20px;
    color: #151269;
}
.logo-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 5px;
    margin-right: 0;
    border-radius: 5px;
    overflow: hidden;
}
.logo-image {
    width: 90px;
    height: 90px;
}

.institution-name h1 {
    font-size: 1.2em;
    line-height: 1.5;
}

#exit{
    display: none;
}

.logout-form{
    margin-left: auto;
}
.logout-btn{
    background-color: transparent;
    color: #151269;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bolder;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.logout-btn:hover{
    background-color: #151269;
    color: white;
}

/* Nav bar */
nav{
    width: 100%;
    display: flex;
    padding: 0 100px;
    justify-content: space-between;
    align-items: center;
    background: #151269;
    border-bottom: 2px solid white;
}

nav ul{
    display: inline-flex;
    list-style: none;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 14px;
    position: relative;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
.submenu1{
    display: none;
}
nav ul li:hover .submenu1{
    display: block;
    position: absolute;
    margin-left: 0;
    margin-top: 0;
}
nav ul li:hover .submenu1 ul{
    display: block;
    margin: 10px;
    padding: 0;

}
nav ul li:hover .submenu1 ul li{
    width: 100px;
    padding: 5px 5px;
    border-radius: 0;
    text-align: center;
    border: 1px solid white;
    background: #151269;
}
nav ul li:hover .submenu1 ul li a{
    font-size: 7px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

#logo{
    width: 90px;
    margin-left: auto;
}
.nav-links{
    flex: 1;
    text-align: right;  
}

.nav-links ul li::after{
    content: "";
    width: 0;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

/* footer section */
footer {
    background-color: #151269;
    color: white;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1 1 200px; /* Flex basis to ensure sections are responsive */
    margin: 10px;
}

.footer-section h4 {
    margin-bottom: 10px;
    font-size: 18px;
    text-align: left;
}

.footer-section p {
    margin: 5px 0;
}

.footer-section:last-child {
    flex: 1 1 100%;
    text-align: center;
    margin-top: 20px;
}

/* responsive */
@media (min-width: 360px) and (max-width: 450px) {
    .header{
        min-height: 13vh;
    }
    .logo-heading {
        display: none;
    }
    .institution-name h1 {
        font-size: 10px; /* Adjust font size */
        line-height: 20px; /* Adjust line height */
    }
    .logout-btn {
        padding: 10px;
        background: transparent;
    }
    #exit{
        display: block;
        width: 30px;
    }
    #log-text{
        display: none;
    }
    nav{
        width: 100%;
        padding: 0;
    }
    nav ul{
        display: flex;
        justify-content: space-around; /* Distribute space evenly */
        align-items: center;
        padding: 0;
        margin: 0;
    }
    nav ul li{
        flex: 1; /* Each item will grow to take up an equal amount of space */
        text-align: center;
        padding: 8px 10px;
    }
    nav ul li a{
        font-size: 8px;
        padding: 0;
        display: block; /* Ensure the link takes up the full height of the li */
    }
}