.main{
    min-height: 64vh;
}
.main-body{
    margin-top: 15vh;
    margin-bottom: 10vh;
}
.billform {
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(21, 18, 105, 0.5); 
    background-color: #EDF4F2;
    font-size: smaller;
}
.form-fields {
    margin-bottom: 20px;
}
.form-field {
    margin-bottom: 15px;
}
.form-field label {
    display: block;
    margin-bottom: 5px;
    color: black;
}

.form-field input[type="number"],
.form-field input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-input input[type="submit"] {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(10, 148, 208);
    color: white;
    transition: background-color 0.3s, opacity 0.3s;
}
.submit-input input[type="submit"]:hover {
    background: #203A43;
    color: white;
}

h5{
    color: black;
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase;
}
li.error{
    color: red;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bolder;
}
li.success{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #151269;
}
.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
}
.header-links .back-link {
    font-size: 25px;
    color: black;
    text-decoration: none;
    display: inline-block;
}
.header-links .back-link:hover {
    opacity: 0.6;
}
@media (min-width: 360px) and (max-width: 450px){
    .main-body{
        min-height: 72vh;
    }
    .billform{
        width: 80%;
    }
    .messages{
        font-size: 12px;
    }
}
