.main{
    min-height: 64vh;
}
.main-body{
    margin-top: 15vh;
    margin-bottom: 10vh;
}
.main-block{
    margin: 0 auto;
    width: 40%;
    height: auto;
    padding: 10px;
    box-shadow: 0 8px 16px rgba(21, 18, 105, 0.5);
    background-color: #EDF4F2;
    font-size: smaller;
}

#filter-table {
    margin: auto;
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px rgba(21, 18, 105, 0.5);
}
.filter-td {
    padding: 10px;
    background-color: #EDF4F2;
}
label {
    font-weight: bold;
}

#search{
    padding: 10px 20px;
    background-color: rgb(10, 148, 208);
    color: white;
    transition: background-color 0.3s, opacity 0.3s;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#search:hover {
    background: #203A43;
    color: white;
}

.table-responsive{
    overflow-x: auto;
}
.bill {
    width: 80%;
    margin: 0 auto;
}
.bill table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px;
}
.bill th, .bill td {
    border: none;
    text-align: left;
    padding: 8px;
}
.bill th, .bill td{
    background-color: #EDF4F2;
    color: black;
}

.ignore td{
    background-color: #31473A;
}

h5{
    color: black;
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase;
}


.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
}
.header-links .back-link {
    font-size: 25px;
    color: black;
    text-decoration: none;
    display: inline-block;
}
.header-linblueks .table-resposiveback-link:hover {
    opacity: 0.6;
}


.pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.pagination .step-links a {
    margin: 0 5px;
    padding: 5px 10px;
    background: #fff;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #071952;

}
.pagination .step-links .current {
    margin: 0 5px;
    padding: 5px 10px;
    background: rgb(134, 205, 236);
    border: 1px solid #ccc;
    color: black;
}
@media (min-width: 360px) and (max-width: 450px){
    .main-body{
        min-height: 72vh;
    }
    #filter-table{
        display: none;
    }
    .main-block{
        width: 80%;
    }
}