.main-body{
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.billform {
    width: 40%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, #ECE9E6 0%, #FFFFFF  51%, #ECE9E6  100%);
    box-shadow: 0 8px 16px rgba(10, 10, 11, 0.5);
    margin-bottom: 50px;
    font-size: smaller;
}
.form-fields {
    margin-bottom: 20px;
}
.form-field {
    margin-bottom: 15px;
}
.form-field label {
    display: block;
    margin-bottom: 5px;
    color: black;
}

.form-field input[type="number"],
.form-field input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-image: linear-gradient(to right, #1D976C 0%, #93F9B9  51%, #1D976C  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    width: 90%;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white; 
    font-size: 15px;    
    font-weight: bolder;       
    box-shadow: 0 0 20px #eee;
    border-radius: 4px;
    display: block;
    margin: 20px auto;
    border: none;
  }

form input[type="submit"]:hover{
    background-position: right center;
    color: black;
    text-decoration: none;
}

h5{
    color: black;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
}
li.error{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bolder;
    color: red;
}
li.success{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #151269;
}

.header-links {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    top: 0;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
}
.header-links .back-link {
    font-size: 25px;
    color: black;
    text-decoration: none;
    display: inline-block;
}
#close{
    width: 30px;
    height: 30px;
}
@media (min-width: 360px) and (max-width: 450px){
    .main-body{
        min-height: 72vh;
    }
    .billform{
        width: 80%;
    }
    .messages{
        font-size: 12px;
    }
    h5{
        font-size: 16px;
    }
    li.error{
        font-size: 10px;
    }
    li.success{
        font-size: 10px;
    }
}
