.main{
    margin-top: 70px;
    margin-bottom: 100px;
}
.name-pgm {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    margin-bottom: 10px;
}
.header-links {
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    width: 100%;
    padding: 0;
    margin-bottom: 70px;
}
.header-links .back-link {
    font-size: 25px;
    margin-right: 80%;
    color: #31473A;
    text-decoration: none;
    display: inline-block;
}
.header-links .menu{
    width: 20px; /* Adjust the size to match the font size of the back-link */
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
}
.header-links .menu:hover,
.header-links .back-link:hover {
    opacity: 0.6;
}
.student-details {
    background-color: #EDF4F2;
    padding: 20px;
    padding-top: 10px;
    border-radius: 8px;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
    font-size: 10px;
    color: black;
}
.student-details:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 2);
}
.image-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
    border: 2px solid white;
    margin: 15px auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    border-radius: 2px;
}
.student-photo {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.other-details {
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    
}
.link {
    font-size: 10px;
    color: #31473A;
    text-transform: uppercase;
    font-weight: 600;
    margin: 2px;
}
.link:hover {
    text-decoration: underline;
    opacity: 0.5;
}
.modify {
    display: none; /* Hidden by default */
    position: absolute;
    right: 10px;
    top: 30px;
    background: transparent;
    border: none;
    padding: 10 0px;
}
.modify ul{
    list-style: none;
}
.modify ul li{
    text-align: right;
    padding: 3px 1px;
    text-decoration: none;
}
.modify ul li a{
    text-decoration: none;
}


@media (max-width: 600px) {
    .student-details {
        width: 90%;
        padding: 10px;
        font-size: 8px;
    }
    .header-links {
        padding: 0 5px;
    }
    .header-links .back-link,
    .header-links .menu {
        font-size: 16px;
    }
    .header-links .menu {
        width: 16px;
        height: 16px;
    }
    .modify {
        right: 5px;
        top: 25px;
    }
}