.main{
    min-height: 64vh;
}
.main-body{
    margin-top: 15vh;
    margin-bottom: 10vh;
}
.main-block-1{
    margin: 50px auto;
    width: 40%;
    height: auto;
    padding: 10px;
    box-shadow: 0 8px 16px rgba(21, 18, 105, 0.5);
    background-color: #EDF4F2;
    font-size: smaller;
}
.main-block-2{
    margin: 50px auto;
    width: 40%;
    height: auto;
    padding: 10px;
    box-shadow: 0 8px 16px rgba(21, 18, 105, 0.5);
    background-color: #EDF4F2;
    font-size: smaller;
}

.bill {
    width: 70%;
    margin: 0 auto;
}
.bill table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px;
}
.bill th, .bill td {
    border: none;
    text-align: left;
    padding: 8px;
}
.bill th, .bill td{
    background-color: #EDF4F2;
    color: black;
}

.ignore td{
    background-color: #31473A;
}
h5{
    color: black;
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
}
.header-links .back-link {
    font-size: 25px;
    color: black;
    text-decoration: none;
    display: inline-block;
}
.header-links .back-link:hover {
    opacity: 0.6;
}
#printBtn {
    background: transparent;
    color: #151269;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bolder;
    border: none; 
    padding: 10px; 
    cursor: pointer; 
    border-radius: 5px; 
}

#printBtn:hover {
    opacity: 0.6;
}
@media (min-width: 360px) and (max-width: 450px){
    .main-body{
        min-height: 72vh;
    }
    .main-block-1, .main-block-2{
        width: 80%;
    }
}