.main{
    min-height: 80vh;
}
.main-body{
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.main-block-1{
    width: 40%;
    margin: 0 auto;
    padding: 20px 10px;
    border-radius: 10px;
    background: linear-gradient(#ECE9E6, #FFFFFF);
    box-shadow: 0 8px 16px rgba(10, 10, 11, 0.5);
    margin-bottom: 50px;
}
.main-block-2{
    width: 40%;
    margin: 0 auto;
    padding: 20px 10px;
    border-radius: 10px;
    background: linear-gradient(#ECE9E6, #FFFFFF);
    box-shadow: 0 8px 16px rgba(10, 10, 11, 0.5);
    margin-bottom: 50px;
}

.bill {
    width: 80%;
    margin: 0 auto;
}
.bill table {
    border-collapse: collapse;
    width: 100%;
}
.bill th{
    background-color: #bdc3c7;

}
.bill tr:nth-child(even){
    background-color: #E2E2E2;
}
#ignore-row{
    background-color: transparent;
}
.bill th, .bill td {
    border: none;
    text-align: left;
    padding: 8px;
}

h5{
    color: black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bolder;
}

.header-links {
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    top: 0;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
}

#printBtn {
    background: transparent;
    color: #151269;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bolder;
    border: none; 
    padding: 10px; 
    cursor: pointer; 
    border-radius: 5px; 
}

#printBtn:hover {
    opacity: 0.6;
}
@media (min-width: 360px) and (max-width: 450px){
    .main-block-1, .main-block-2{
        width: 80%;
    }
    h5{
        font-size: 10px;
    }
    .bill th, .bill td{
        font-size: 8px;
    }

}