.main{
    margin-top: 70px;
    margin-bottom: 100px;
}
.main-block{
    margin: 0 auto;
    width: 40%;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    background-color: #EDF4F2;
    font-size: smaller;
}
.absents table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px;
}
.absents th, .absents td {
    border: none;
    text-align: left;
    padding: 8px;
}
.absents th, .absents td{
    background-color: #EDF4F2;
    color: #31473A;
}

.absents td a{
    color: #071952;
}
.absents td a:hover{
    opacity: 0.5;
}

h5{
    color: #071952;
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
}
.header-links .back-link {
    font-size: 25px;
    color: #071952;
    text-decoration: none;
    display: inline-block;
}
.header-links .back-link:hover {
    opacity: 0.6;
}
.messages{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #071952;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.pagination .step-links a {
    margin: 0 5px;
    padding: 5px 10px;
    background: #fff;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #071952;

}
.pagination .step-links .current {
    margin: 0 5px;
    padding: 5px 10px;
    background: #fff;
    border: 1px solid #ccc;
    color: #071952;
}
